@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
}

.item {
    padding-right: 50px;
}

.loop-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section div:nth-child(1) {
    position: absolute;
    font-size: 7rem;
    white-space: nowrap;
}

.hero-section div:nth-child(2) {
    position: absolute;
    font-size: 7rem;
    white-space: nowrap;
    transform: translateX(102%);
}

span {
    transition: all 0.2s;
    cursor: default;
}

.hover:hover {
    color: gray;
    transition: all 0.2s;
}
