@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background-color: rgb(22, 22, 22);
}

.hero-section {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 75vh;
}

.loop-container {
    margin-top: 500px;
    white-space: nowrap;
    font-weight: 100;
    font-size: 9vw;
    letter-spacing: 5px;
    /* transform: rotate(7deg); */
}

.item {
    position: absolute;
}

/* ----------------------------------------------------- */

.image-section {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 75vh;
}

.second-loop-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 2rem;
    position: absolute;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 440px;
}

.image-container img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.item {
    position: absolute;
    color: white;
}
